/* Her har jeg hvad for noget text typer der bruges til hjemmesiden(som standart) */

body 

{
    background-color: #91929c;

    color: #000000;

    margin: auto;

    font-size: 28px;

    font-family: 'Patrick Hand', cursive;

}


/* Her har jeg min baggrund på hele siden og hvor selve texten skal stå */

.header 

{
    background-color: #93b1f0;

    text-align: center;

    position: fixed;
   
}


/* Alt under her har jeg min menu-linje hvor stort eller småt min text skal være. */


/* og hvis der skulle være nogle effekter står det også her under */

a.active:link

{

    text-decoration: none;

}

#navbar, footer 

{

    overflow: auto;

    background-color: green;

    border: 2px solid black;

    text-align: center;

    width: 100%;

}

#navbar

{

    text-shadow: -2px -2px 2px black;

}

#navbar a.active:hover 

{

    background-color: darkgray;
    
}

#navbar a.active 

{

    color: #93b1f0;

    font-variant: small-caps;

    float: left;
    
    text-decoration: none;

    font-size: 38px;

    width: 33%;

    justify-content: center;
}

#navbar-img 

{

    background-image: url(../IMG/Forside-hoejbed5.jpg);

    height: 60px;

    width: 100%;

    margin: auto;

    z-index: 5;

}

#navbar .active

{

    display: flex;

}

nav ul

{

    list-style-type: none;

    margin: 0 72px;

}

nav ul ul

{

    flex-direction: column;

    position: absolute;

    z-index: 1;

    width: 29.38vw;

    visibility: hidden;

    display: flex;

    align-items: center;

    top: 112px;

    margin-left: 29.39vw;

}

nav ul li:hover ul

{

    visibility: visible;

    background-color: darkgray !important;



}

nav ul ul li:hover

{

    background: rgba(255,255,255,0.3) !important;

    width: 100%;

}

nav ul ul li

{

    flex-direction: column;

}



/* Min sticky er hvordan min menu-linje opføresig eller reager på hvis man scroller op og ned som er opsat som en class */

.sticky 

{

    top: 0;
    width: 100%;
    z-index: 5;
}

.sticky+.content 

{

    margin-top: 100px;

}


/* Min h1-3 her under er med noget forsklligt text,farver, nogle skygger på den verdicale og hoizointe led samt centuret*/

h1,
h2,
h3 

{

    color: #4cd455;

    text-align: center;

    font-family: 'Patrick Hand', cursive;

}

h1

{

    font-size: 5rem;

    line-height: 4rem;

    text-shadow: -2px -2px 2px black;

}

h2 

{
    font-size: 3rem;

    line-height: 4rem;

    text-shadow: -2px -2px 2px black;

}

h3 

{
    font-size: 1, 5rem;

    line-height: 4rem;

    text-shadow: -2px -2px 2px black;

}


/* Min p er mit main text på hjemmesiden som der er har e skrifttype, farve og centuret*/

p 

{
    line-height: 2rem;

    text-align: center;

    font-family: 'Patrick Hand', cursive;

    font-weight: 400;

}


/* Her under har jeg mine billeder med hvordan de skal skæres til eller få det til at blive placeret så der ikke kommer en side-scrollbar */

img 

{

    display: block;

    margin-left: auto;

    margin-right: auto;

    border-radius: 20px 20px;

    max-width: 85%;
}

* 

{

    box-sizing: border-box;

    margin: 0;

    padding: 0;

}


/* Her har jeg nogle a mine classes som bruges til billederene */

.img-container 

{
    float: left;

    width: 80%;

    padding: 15px;

}

.clearfix::after 

{
    content: "";

    clear: both;

    display: table;

}

.flex-container 

{
    display: flex;
    
    align-items: center;

}

.flex-container>div 

{
    width: 200px;

    margin: 60px;

    text-align: center;

    line-height: 100px;

    font-size: 50px;

}

.img-container:hover 

{

    opacity: 0.5;

}


/* Her har jeg min scrollbar */

::-webkit-scrollbar 

{

    width: 20px;

}

::-webkit-scrollbar-track 

{

    box-shadow: inset 0 0 5px grey;

    border-radius: 5px;

}

::-webkit-scrollbar-thumb 

{
    background: #008000;

    border-radius: 5px;

}

::-webkit-scrollbar-thumb:hover

{

    background: #008000;

    cursor: pointer;

}

.clearfix h3

{

    display: flex;

    justify-content: space-evenly;

}

footer

{

    display: flex;

    justify-content: center;

    height: auto;


}

label p

{

    display: flex;

    justify-content: center;

    width: 25rem

}

input p

{

   margin: 20px;

   width: 20rem;

   height: 50px;

   padding: 12px 20px;

   box-sizing: border-box;

   border: 2px solid #ccc;

   border-radius: 4px;

   background-color: #f8f8f8;

   font-size: 16px;

   resize: none;

}

textarea 

{

    width: 20rem;

    height: 150px;

    padding: 12px 20px;

    box-sizing: border-box;

    border: 2px solid #ccc;

    border-radius: 4px;

    background-color: #f8f8f8;

    font-size: 16px;

    resize: none;

}



input[type=number]

{

    width: 5rem;

}

input[type=besked]

{

    width: 7rem;

}

select

{

    width: 7rem;

}

p

{

    margin: 20px;

    overflow: hidden;

}

input[type=checkbox]

{

    display: block;

    justify-content: center;

    margin: 0 auto;

}

input[type=checkbox]:checked ~ .remove-check

{

    display: block;

}

.remove-check

{

    display: none;

}




.Dark-theme

{

    background-color: black;

    color: rgb(24, 196, 24);

}



figcaption

{

    color: #4cd455;

    text-shadow: -2px -2px 2px black;

    padding-left: 10px;

    padding-top: 10px;

}

audio

{

    padding-left: 10px;

    padding-top: 10px;

}

.topnav

{

 display: none;

}

@media screen and (max-width:1200px)
    
    {

        body

        {
        
            margin:0 auto;

            max-width: 100%;

            text-align: 100%;
        
        }

        #navbar

        {

            display: none;

        }

         footer

        {

            position:relative;

            bottom: 0;

            width: 100%;

        }
        
        .header
        
        {
        
            margin: 0 auto;
        
            position:fixed;
        
            width: 100%;
        
        }
        
        .flex-container 
        
        {
        
            margin: 0%;
        
            flex-direction: column;

        }

/*Det her nedenunder er til hamburger menuen på mobiler*/


.topnav 

{

    overflow: hidden;

    background-color: #333;

    position: relative;

    display: block;

}

.topnav #myLinks 

{

    display: none;

}

.topnav a 

{

    display: flex;

    color: white;

    padding: 8px 15px;

    text-decoration: none;

    font-size: 15px;

    justify-content: space-evenly;


}

.topnav a.icon 

{

    background: black;

    display: block;

    position: fixed;

    right: 0;

    top: 0;

}

.topnav a:hover

{

    background-color:lightgray;

    color: black;

}

.active 

{

    background-color: #4CAF50;

    color: white;

}

#mybuttons

{

    display: none;

}

}

#mybuttons

{

    position: fixed;

    bottom: 10px;

    right: 8%;

    left: 92%;

    max-width: 30px;

    width: 100%;

    font-size: 12px;

    background-color: gray;

    padding: 5px;

    border-radius: 20px;

}

#mybuttons:hover


{

    background-color: #008000;

}

#mybuttons a

{

    color: white;

}

/* TEST */


#span

{

    text-shadow: none;

}